@*@{
        ViewBag.Title = "NoPageFound";
        Layout = "~/Views/Shared/Error.cshtml";
    }*@
@{
    ViewBag.Title = "Formularz rejestracji pojazdu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>NoPageFound</h2>